
@media only screen and (max-width: 991px){
     .my_row{
         display: flex  !important;
         flex-direction: column-reverse !important;
     } 
     h1{
         font-size: 10px;
     }
 
 
 }